@media(max-width:  900px){
    .card-top{
        width: 10rem;
        background-color: #ffffff;
        padding: 1rem;
    }
    .day{
        display: block;
        margin-top: 2rem;
    }
    .proper{
        font-size: 15px;
        padding: 1rem;
    }
    .photos{
        width: 100px;
        margin-right: 1rem;
    }
    .column{
        background-color: rgb(85, 85, 85);
        border: none;
        color: #ffffff;
        width: 10rem;
       }
       .colum{
           background-color: rgb(51, 51, 51);
           border: none;
           color: #ffffff;
           width: 10rem;
           font-size: 8px;
          }
          .card-t{
            font-size: 15px;
            font-weight: 900px;
            padding-right: 2rem;
        }
        .card-title{
            font-size: 15px;
        }
    .carder{
        border: none;
        background-color: #ffffff;
      width: 100%;
        margin-bottom: 2rem;
        /* margin-right: 1rem; */
    }
    .yty{
        padding-right: 15rem;
        padding-top: 2rem;
    }
    .high-res{
        width: 200px;
        margin-right: 15rem;
    }
    .t-shirt-two{
        display: grid;
        grid-template-columns: auto  auto;
        gap: 20px ;
        
    }
    .hot{
     color: #ffffff;
     font-size:60px;
     padding-right: 15rem;
    }
    .btn{
        /* background-color: rgb(160, 195, 54); */
        padding: .2rem 1rem;
       }
       .card-title{
        font-size: 12px;
    }
    .mania{
        width: 100px;
    }
    .corrder{
        width: 300px;
    }
    .account{

        text-align: justify ;
    }
    .shutterstock{
        width: 400px;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .shuttersock{
        width: 300px;
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
    .certification{
        width: 300px;
        }
        .auto-margin{
            display: flex;
            padding-top: 3rem;
            padding-bottom: 5rem;
        }
        .puplic textarea{
            width: 400px;
            height: 100px;
        }
        .puplicp textarea{
            width: 170px;
            height: 110px;
        }
        .company-data{
            display: flex;
           justify-content:space-around;
        }
        .design-graphic{
            width: 8rem;
        }
        .conclouss{
            width: 100px;
        }
        .email-iconss{
            width: 18px;
        }
        .smartphones{
            text-align: center;
            color: rgb(187, 13, 115);
            font-size: 10px;
        }
        .user-order{
            font-size: 10px;
        }
        .card-img-top{
           width: 50px;
        }
        .all-card-img{
            width: 100%;
            display: grid;
            grid-template-columns: auto;
        }
        .card-top {
            width: 100%;
         }
         .preview{
           width: 100%;
        }
        /* ///////////////// */
        .all-t-shirt{
            display: grid;
            grid-template-columns: auto auto;
            gap: 2rem;
        }
        .logos-text{
            background-color: #d8d8d8;
            display: grid;
            grid-template-columns:  auto auto;
            gap: 2rem;
            margin-bottom: 0rem;
            margin-top: 2rem;
          
         }
}


@media(max-width: 600px){
   

             .activee{
                display: block;
                width: 100%;
             }
            

             .yty{
                padding-right: 0rem;
                padding-top: 2rem;
            }
            
            .colum {
                display: block;
                width: 100%;
            }
            
        .high-res {
                    width: 100%;
               margin-right: 0px;

                }
                .hot {
                    font-size:25px;
                    padding: 0;
                    text-align: center;
            }
            .card-title{
                font-size: 15px;
            } 
            .all-card-img{
                margin-bottom: 10px;
                width: 100%;
                display: block;
                /* grid-template-columns: auto ; */
            }
            .margin {
                /* margin-bottom: 10px; */
                padding-top: 0rem;
            }
            .card {
                margin-bottom: 10px;
        }
        .chhh{
            display: block;
            width: 100%;
        }
        .subsecraib{
            padding: 10px;
            margin: 0px;
            margin-top: 10px;
        }
        .bussnis{
            display: inline-block;
        }
        .form{
            display: block;
        }
        .shamm{
            width: 100%; 
        } 
        .carasol {
            /* display: flex; */
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            padding-right: 0px;
        }
        .rsua{
            width: 96%;
        }
        /* ///////////////////// */
        .all-t-shirt{
            display: grid;
            grid-template-columns: auto;
            gap: 2rem;
        }
        .form-radio{
            display: block;
        }
        .form-radio-flex{
            display: block;
        /* justify-content: space-between; */
        }
        h6{
            font-size: 11px;
        }
        .t-shirt-two{
            display: grid;
            grid-template-columns: auto ;
            gap: 20px ;
            
        }
        .butoon-t-shirt{
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            margin-bottom: 1rem;
        }
        .logos-text{
            background-color: #d8d8d8;
            display: grid;
            grid-template-columns:  auto;
            gap: 2rem;
            margin-bottom: 0rem;
            margin-top: 2rem;
         }
    }















